!!!
html
  head
    title CyanogenMod Downloads
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap-responsive.css')
  body!= body